<nav class="navbar navbar-default" role="navigation">
	<a class="navbar-brand" id="appTitle" href="#">gQuery</a>
	<ul class="nav navbar-nav">
		<li class="createQuery">
			<a href="#">Query</a>
		</li>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		
		<li class="sign-in">
			<a href="#">Sign in</a>
		</li>
		<li class="register">
			<a href="#">Register</a>
		</li>
	</ul>
</nav>
	
<div class="fullwidth-container">
	<div class="row">
		<aside class="span5" id="queryBar"><!-- Sidebar starts here  -->    

<div class="row">
          <div class="filterValues">
            <form>
    			<div class="form-group">
        			<label for="searchName" class="SearchLabel">Search name:</label>
  					<br><br>
  					<input id="searchName" class="SearchInput" type="text" value="">
    			</div>
    			<div id="timeSearch" class="form-group">
        			<label for="timeRange" class="rangeFilterLabel">Time Range:</label>
  					<input type="range" id="Year" class="rangeFilter" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" onchange="splunkSearch()" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="show" data-slider-handle="round" >
    			</div>
    			<br><br>
    			<div id="adjustFilters" class="dropdown">
    			<button class="searchButton btn btn-primary" onclick="splunkSearch()">Search</button>
    			<button id="addFilter" type="button" data-toggle="dropdown" class="dropdown-toggle addFilter btn btn-primary" >+
    				<span class="caret"></span>
    			</button>
     		   		<ul class="dropdown-menu" id="dropdownList" aria-labelledby="dropdownMenu1">
            			<li id="Health-Pollution" onclick="selectCategory(id)">Health/ Pollution</li>
			            <li id="Safety-Crime" onclick="selectCategory(id)">Safety/ Crime</li>
			            <li id="Economy" onclick="selectCategory(id)">Economic Factors</li>
			            <li id="Infrastructure" onclick="selectCategory(id)">Infrastructure</li>
			            <li class="divider"></li>
			            <li id="GeneralHealthIndicator" onclick="selectCategory(id)">OverallHealth</li>
			        </ul>    	
			    </div>
			</form>
           </div>
         </div>
        </aside>
        <script>
        	$(document).ready(function() {
 				$("#queryBar").css("height", $(".fullwidth-container").height());
				$('#queryBar').hide();
		});
        </script>
        <script type="text/javascript">
    		$('.createQuery').on('click', function(){
		     if( $('#queryBar').is(':visible') ) {
        	    $('#queryBar').animate({ 'width': '0px' }, 'slow', function(){
        	   	$('#queryBar').hide();
        	   	});
            	$('#appTitle').animate({ 'padding-left': '0px' }, 'slow');
            	}
        	else {
    			$('#appTitle').animate({ 'padding-left': '215px' }, 'fast'); }
            	$('#queryBar').animate({ 'width': '210px' }, 'slow', function(){
        	   	$('#queryBar').show();
        	   	});
    		});
		</script>


      </div>
		<div class="col-12">
		    <div id="map" class="map"></div>
		</div>	
	</div>
	
	<div class="chartcontainer">
	</div>
		</div>
		<div class="row">
			<div id="querytest"></div>
		</div>
		<div class="row">
		<div id="chart1"></div>
		</div>
</div>
</div>
</div>
