<nav class="navbar navbar-default" role="navigation">
	<a class="navbar-brand" href="#">Team Name</a>
	<ul class="nav navbar-nav">
		<li class="createQuery">
			<a href="#">Query</a>
		</li>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">Link</a>
		</li>
		
		<li class="sign-in">
			<a href="#">Sign in</a>
		</li>
		<li class="register">
			<a href="#">Register</a>
		</li>
	</ul>
</nav>
	
<div class="fullwidth-container">
	<div class="row">
		 <aside class="span4" id="queryBar"><!-- Sidebar starts here  -->    
    		<div class="row">
    		    <div class="widget span4">
           <div class="filterValues">
          <form>
    			<div class="form-group">
        			<label for="searchName">Search name:</label>
  					<br><br>
  					<input id="searchName" type="text" value="">
    			</div>
    			<div id="timeSearch" class="form-group">
        			<label for="searchName">Time Range:</label>
  					<input type="range" id="Year" class="rangeFilter" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="5" data-slider-orientation="horizontal" data-slider-selection="after"data-slider-tooltip="show" data-slider-handle="round" >
    			</div>
    			<br><br>
    			<div id="adjustFilters" class="dropdown">
    			<button class="searchButton btn btn-primary" onclick="splunkSearch()">Search</button>
    				<button id="addFilter" type="button" data-toggle="dropdown" class="dropdown-toggle addFilter btn btn-primary" >+
    				<span class="caret"></span>
    				</button>
     		   <ul class="dropdown-menu" id="dropdownList" aria-labelledby="dropdownMenu1">
            <li id="Health-Pollution" onclick="selectCategory(id)">Health/ Pollution</li>
            <li id="Safety-Crime" onclick="selectCategory(id)">Safety/ Crime</li>
            <li id="Economy" onclick="selectCategory(id)">Economic Factors</li>
            <li id="Infrastructure" onclick="selectCategory(id)">Infrastructure</li>
            <li class="divider"></li>
            <li id="GeneralHealthIndicator" onclick="selectCategory(id)">OverallHealth</li>
            </ul>
    </ul>
</div>
			</div>	
			</form>
		</div>
		</div>
        </div>
        </aside>

        <script type="text/javascript">
    			$('.createQuery').on('click', function(){
		        if( $('#queryBar').is(':visible') ) {
        		    $('#queryBar').animate({ 'width': '0px' }, 'slow', function(){
                	$('#queryBar').hide();
            		});
        		}
        		else {
            		$('#queryBar').show();
           			 $('#queryBar').animate({ 'width': '210px' }, 'slow'); }
    			});
	</script>
      </div>
		<div class="col-12">
		    <div id="map" class="map"></div>
		    <script type="text/javascript">
		      var vectorSource = new ol.source.Vector({
		        url: 'assets/countries.geo.json',
		        format: new ol.format.GeoJSON()
		      });

		      var map = new ol.Map({
		        target: 'map',
		        layers: [
		          new ol.layer.Tile({
		            source: new ol.source.MapQuest({layer: 'sat'})
		          })
		        ,
		        	new ol.layer.Vector({
		        		source: vectorSource

		        		
		        	})
		        ],
		        view: new ol.View({
		          center: ol.proj.transform([37.41, 8.82], 'EPSG:4326', 'EPSG:3857'),
		          zoom: 4
		        })
		      });

		      // a normal select interaction to handle click
		      var select = new ol.interaction.Select();
		      map.addInteraction(select);
		      map.on('moveend',(function(){
		      	

		      	var view = map.getView();
		      	var extent = view.calculateExtent(map.getSize());
		      	var bottomLeft = ol.proj.toLonLat([extent[0],extent[1]]);
		      	var topRight  = ol.proj.toLonLat([extent[2],extent[3]]);
		      	var bbox = bottomLeft.concat(topRight);
		      	console.log(bbox);
		      	executeSplunk(bbox);


		      }))

		      var selectedFeatures = select.getFeatures();

		      // a DragBox interaction used to select features by drawing boxes
		      var dragBox = new ol.interaction.DragBox({
		        condition: ol.events.condition.shiftKeyOnly,
		        style: new ol.style.Style({
		          stroke: new ol.style.Stroke({
		            color: [0, 0, 255, 1]
		          })
		        })
		      });

		      map.addInteraction(dragBox);

		      var infoBox = document.getElementById('info');

		      dragBox.on('boxend', function(e) {
		        // features that intersect the box are added to the collection of
		        // selected features, and their names are displayed in the "info"
		        // div
		        var info = [];
		        var extent = dragBox.getGeometry().getExtent();
		        console.log(extent);
		        vectorSource.forEachFeatureIntersectingExtent(extent, function(feature) {
		          selectedFeatures.push(feature);
		          info.push(feature.get('name'));
		        });
		        if (info.length > 0) {
		          infoBox.innerHTML = info.join(', ');
		        }
		      });

		      function executeSplunk(bbox){
		      	// get the value of the search div

		      	var maxlat = bbox[2];
		      	var minlat = bbox[0]; 
		      	var minlong = bbox[1];
		      	var maxlong = bbox[3];


		      	var http = new splunkjs.ProxyHttp("/proxy");
                var service = new splunkjs.Service(http, {
                    username: "esa",
                    password: "esa",
                });

            service.login(function(err, success) {
                if (err) {
                    throw err;
                }

            console.log("Login was successful: " + success);
		console.log("`pollution_chart(" + minlat + "," + maxlat + "," + minlong + ","+ maxlong +",0,1)`");
            service.jobs().create(" `pollution_chart(" + minlat + "," + maxlat + "," + minlong + ","+ maxlong +",0,1)`",{
                status_buckets: 300
            }, function(err, job){
                if(err){
                    console.log(err);
                    return;
                }
                console.log('job created');
                job.track({}, {
                    error: function(err) {
                        console.log('job error: '+err);
                    },
                    done: function(job) {
                        console.log('job done');
                        job.results({
                            output_mode: "json_cols"
                        }, function(err, results){
                            if(err){
                                console.log(err);
                                return;
                            }
                            console.log(results);
                            var chart = new splunkjs.UI.Charting.Chart($("#chart1"), splunkjs.UI.Charting.ChartType.COLUMN, false);
                            chart.setData(results, {
                                "chart.stackMode": "stacked"
                            });
                            chart.draw();
                        });
                    }
                });
            });
		      });
				};
		    </script>	
		</div>	
	</div>
	
	<div class="chartcontainer">
		<div class="row">
	<button type="button" class="btn btn-default" onclick="executeSplunk()">Call Prodecure</button>
	<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		<div class="form-group">
		<label for="input" class="col-sm-2 control-label">MinLat:</label>
		<div class="col-sm-10">
			<input type="text" name="" id="minlat" class="form-control" value="" required="required" pattern="" title="">
		</div>
		<label for="input" class="col-sm-2 control-label">MaxLat:</label>
		<div class="col-sm-10">
			<input type="text" name="" id="maxlat" class="form-control" value="" required="required" pattern="" title="">
		</div>
		<label for="input" class="col-sm-2 control-label">MinLong:</label>
		<div class="col-sm-10">
			<input type="text" name="" id="minlong" class="form-control" value="" required="required" pattern="" title="">
		</div>
		<label for="input" class="col-sm-2 control-label">MaxLong:</label>
		<div class="col-sm-10">
			<input type="text" name="" id="maxlong" class="form-control" value="" required="required" pattern="" title="">
		</div>
	</div>
	</div>
		</div>
		<div class="row">
			<div id="querytest"></div>
		</div>
		<div class="row">
			<div id="chart1"></div>
		</div>
	</div>
</div>
</div>
